auto {{ network_interface.name }}
iface {{ network_interface.name }} inet static
    address {{ network_interface.address }}
    netmask {{ network_interface.netmask }}
    gateway {{ network_interface.gateway }}
    dns-nameservers {{ network_interface.dns_nameservers }}
    dns-search {{ network_interface.dns_search }}
