auto {{ network_bridge.name }}
iface {{ network_bridge.name }} inet static
    address {{ network_bridge.address }}
    netmask {{ network_bridge.netmask }}
    network {{ network_bridge.network }}
    broadcast {{ network_bridge.broadcast }}
    bridge_ports {{ network_bridge.bridge_ports }}
    bridge_stp {{ network_bridge.bridge_stp }}
    bridge_waitport {{ network_bridge.bridge_waitport }}
    bridge_maxwait {{ network_bridge.bridge_maxwait }}
    bridge_fd {{ network_bridge.bridge_fd }}
    up {{ network_bridge.up }}
